{
    email   stevematdavies@gmail.com
}

(static) {
    @static {
        file
        path*.ico *.css *.js *.gic *.jpeg *.jpg *.png *.svg *.woff *.json
    }
    header @static Cache-control max-age=5184000
}

(security) {
    header {
        # enable HSTS
        Strict-Transport-Security max-age=31536000
        # Disable clients from sniffing media types
        X-Content-Type-Options nosniff
        # Keep referrer data of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
    }
}

localhost:80 {
    encode zstd gzip
    import static

    reverse_proxy http://client:8080
}

backend:80 {
    reverse_proxy http://broker:8081
}